@charset "UTF-8";

/* l-main
---------------------------------------------------------- */
.layout {
	display: flex;
}

.layout-box {
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 80%;
	box-sizing: border-box;
}

.layout-box .layout-inner {
	display: inline;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: left;
	transform: translate(-50%,-50%);
	white-space: nowrap;
	border: .1rem dashed #ccc;
}

.layout-box .layout-text {
	position: relative;
	display: block;
	width: auto;
}

.layout-box .layout-text .layout-line-height {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	font-size: 1.4rem !important;
	transition: height .3s;
}

.layout-box .layout-text:nth-child(odd) .layout-line-height {
	background: #a3a3a3;
}

.layout-box .layout-text:nth-child(even) .layout-line-height {
	background: #ccc;
}

.layout-box .layout-text .layout-top-line-height {
	top: 0;
}

.layout-box .layout-text .layout-bottom-line-height {
	bottom: 0;
}

.layout-box .layout-text:nth-child(odd) .layout-line-height .layout-line-height-val {
	position: absolute;
	top: 50%;
	left: 104%;
	transform: translate(0, -50%)
}

.layout-box .layout-text:nth-child(odd) .layout-line-height .layout-line-height-val::before {
	margin: 0 .5rem 0 0;
	font-family: 'font-param';
	content: '\f104';
}

.layout-box .layout-text:nth-child(even) .layout-line-height .layout-line-height-val {
	position: absolute;
	top: 50%;
	right: 104%;
	transform: translate(0, -50%)
}

.layout-box .layout-text:nth-child(even) .layout-line-height .layout-line-height-val::after {
	margin: 0 0 0 .5rem;
	font-family: 'font-param';
	content: '\f105';
}

.layout-style {
	overflow: hidden;
	position: relative;
	height: 40rem;
	width: 40%;
	padding: 1rem;
	border: 1px solid #ccc;
	border-left: none;
	border-radius: 0 .6rem .6rem 0;
	color: #fff;
	line-height: 1.25;
	background: #1e1e1e;
	font-size: 1.6rem;
	box-sizing: border-box;
}