@charset "UTF-8";

.form {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 20%;
	padding: 2rem;
	background: #f8f8f8;
	box-sizing: border-box;
}

.form-control {
	padding: 1rem 0;
	border-bottom: .1rem solid #ccc;
}

.form-control:last-child {
	border: none;
}

.form-control-title {
	margin: 0 0 .6rem;
	font-weight: bold;
}

.form-control-body {
	display: flex;
	align-items: center;
}

.form-control-body-not-flex {
	display: block;
}

.form-control-input {
	width: 100%;
	padding: .8rem 1rem;
	border: .1rem solid #ccc;
	border-radius: .6rem;
	font-size: 1.4rem;
	box-sizing: border-box;
}

.form-control-textarea {
	min-height: 20rem;
}

.form-control-unit {
	padding-left: .5rem;
}

.form-control-attention {
	display: block;
	margin: .8rem 0 0 0;
	color: #ce2828;
	font-size: 1.2rem;
}

